RANDOM FOREST

In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier

LOAD DATA SET

In [2]:
data = pd.read_csv('/content/heart.csv')

CHECKING FOR ANY MISSING VALUES

In [3]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [4]:
data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [5]:
#Get Target data 
y = data['target']

#Load X Variables into a Pandas Dataframe with columns 
X = data.drop(['target'], axis = 1)

In [6]:
print(f'X : {X.shape}')

X : (1025, 13)

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=101)

In [8]:
print(f'X_train : {X_train.shape}')
print(f'y_train : {y_train.shape}')
print(f'X_test : {X_test.shape}')
print(f'y_test : {y_test.shape}')

X_train : (820, 13)
y_train : (820,)
X_test : (205, 13)
y_test : (205,)

BUILD BASIC RANDOM FOREST

In [9]:
rf_Model = RandomForestClassifier()

In [10]:
rf_Model.fit(X_train,y_train)

RandomForestClassifier()

CHECK ACCURACY

In [11]:
print (f'Train Accuracy - : {rf_Model.score(X_train,y_train):.3f}')
print (f'Test Accuracy - : {rf_Model.score(X_test,y_test):.3f}')

Train Accuracy - : 1.000
Test Accuracy - : 1.000