In [13]:

import pandas as pd
import numpy as np
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.datasets import load_breast_cancer
from sklearn.svm import SVC

In [3]:
df = pd.read_csv('/content/heart.csv')

In [4]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [6]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [9]:
#Get Target data 
y = df['target']

#Load X Variables into a Pandas Dataframe with columns 
X = df.drop(['target'], axis = 1)

In [10]:
print(f'X : {X.shape}')

X : (1025, 13)

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=101)

In [12]:
print(f'X_train : {X_train.shape}')
print(f'y_train : {y_train.shape}')
print(f'X_test : {X_test.shape}')
print(f'y_test : {y_test.shape}')

X_train : (820, 13)
y_train : (820,)
X_test : (205, 13)
y_test : (205,)

SVM

In [14]:
# train the model on train set
model = SVC()
model.fit(X_train, y_train)

SVC()

In [15]:

# print prediction results
predictions = model.predict(X_test)
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.75      0.58      0.66       106
           1       0.64      0.79      0.71        99

    accuracy                           0.68       205
   macro avg       0.69      0.69      0.68       205
weighted avg       0.70      0.68      0.68       205